<% include header_admin %>

	<nav>
			<ul>
				<li><a href="/admin/editPage">Add New Page</a></li>
				<li><a href="/admin/editAccount">Edit Account</a></li>
				<li><a href="/admin/logout">Logout</a></li>
			</ul>
		</nav>

		<header>
			<h1>Table of Pages</h1>
		</header>

		<div>
		<table>
			<tr>
			    <th>Title</th>
			    <th>Updated</th>
			    <th>Options</th>
		  	</tr>

				<!-- <% for (var i = 0; i < pages.length; i++){ %> -->
			  	<tr>
			  		<td><a href="#">Template</a></td>
			  		<td>1/10/18</td>
			  		<td>
			  			<button class="button edit">Edit</button>
						<button class="button visibility">Visibility</button>
						<button class="button delete">Delete</button>
					</td>
			  	</tr>
				<!-- <% } %> -->

		  	<tr>
		  		<td><a href="./form.html">Form</a></td>
		  		<td>1/10/18</td>
		  		<td>
		  			<button class="button edit">Edit</button>
					<button class="button visibility">Visibility</button>
					<button class="button delete">Delete</button>
				</td>
		  	</tr>

		  	<tr>
		  		<td><a href="#">New Page</a></td>
		  		<td>1/10/18</td>
		  		<td>
		  			<button class="button edit">Edit</button>
					<button class="button visibility">Visibility</button>
					<button class="button delete">Delete</button>
				</td>
		  	</tr>

		  	<tr>
		  		<td><a href="#">New Page</a></td>
		  		<td>1/10/18</td>
		  		<td>
		  			<button class="button edit">Edit</button>
					<button class="button visibility">Visibility</button>
					<button class="button delete">Delete</button>
				</td>
		  	</tr>
		</table>
		</div>

<% include footer %>
